.mainContainer{
    width: 20%;
    height: 160px;
    background-color: black;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    cursor: pointer;
}

.bodyContainer{
    display: flex;
    gap: 20px;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.textContainer{
    color: white;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageInput{
    height: 120px;
    width: 100px;
    object-fit: cover;
    border-radius: 10px;
}